.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid black;
    margin: 0 auto;
}

#dino {
    width: 80px;
    height: 80px;
    background: url(img/dino.gif);
    background-size: 80px 80px;
    position: relative;
    top: 140px;
}

#cactus {
    width: 20px;
    height: 40px;
    background: url(img/cactus.png);
    background-size: 20px 40px;
    position: relative;
    top: 85px;
    left: 580px;
    animation: cactusMov 1.5s infinite linear;
}

@keyframes cactusMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump .7s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 110px;
    }
    50% {
        top: 80px;
    }
    70% {
        top: 110px;
    }
    100% {
        top: 150px;
    }
}